<dialog id="dialog" aria-labelledby="dialog-heading" class="dialog">
  <div class="dialog-content">
    <div data-slot="dialog-detail"></div>
    <div class="dialog-actions">
      <button type="button" class="dialog-close" data-action="close-modal"><svg role="img" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#212B36">
          <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg>Close</button>
    </div>
  </div>
</dialog>