<footer class="footer" id="footer">
  <div class="viewport-container">
    <div class="footer__content">
      <section class="first-column">
        <h2>University of Michigan Library</h2>
        <ul>
          <li><a href="https://lib.umich.edu/"><span class="address">913 S. University Avenue Ann Arbor, MI 48109-1190</span></a></li>
        </ul>
      </section>
      <!--<section>
        <h2>Heading Column 2</h2>
        <ul>
          <li><a href="#">List item link</a></li>
          <li><a href="#">List item link</a></li>
          <li><a href="#">List item link</a></li>
        </ul>
      </section>
      <section>
        <h2>Heading Column 3</h2>
        <ul>
          <li><a href="#">List item link</a></li>
          <li><a href="#">List item link</a></li>
          <li><a href="#">List item link</a></li>
        </ul>
    </section>-->
    </div>
  </div>
  <div class="footer__disclaimer">
    <div class="viewport-container">
      <p>© 2025, Regents of the University of Michigan</p>
      <p>
        Built with the
        <a href="https://design-system.lib.umich.edu/">U-M Library Design System</a>
      </p>
    </div>
  </div>
</footer>