{% from 'macros/pagination.html' import pagination %}
{% macro start_pagination(page, id_suffix, url, start_key) %}

{{ pagination(
  page_index=page.index,
  num_pages=page.total_pages,
  previous_button_id='pagePreviousButton' + id_suffix,
  previous_button_disabled=page.previous_offset == -1,
  next_button_id='pageNextButton' + id_suffix,
  next_button_disabled=page.next_offset == -1,
  page_number_input_id='pageNumberInput' + id_suffix,
  go_button_id='pageGoButton' + id_suffix
) }}
<script>
  const urlString = "{{ url | safe }}";
  const limit = Number("{{ page.limit }}");
  const previousOffset = Number("{{ page.previous_offset }}")
  const nextOffset = Number("{{ page.next_offset }}")
  const idSuffix = "{{ id_suffix }}";
  const startKey = "{{ start_key }}";

  const urlObj = new URL(urlString);
  const searchParams = new URLSearchParams(urlObj.search);
  const currentStart = Number(searchParams.get(startKey) ?? 0);

  document.getElementById("pagePreviousButton" + idSuffix).onclick = function() {
    searchParams.set(startKey, previousOffset);
    location.assign("?" + searchParams.toString());
  };

  document.getElementById("pageNextButton" + idSuffix).onclick = function() {
    searchParams.set(startKey, nextOffset);
    location.assign("?" + searchParams.toString());
  };

  document.getElementById("pageGoButton" + idSuffix).onclick = function() {
    const pageNumValue = document.getElementById("pageNumberInput" + idSuffix).value;
    searchParams.set(startKey, limit * (Number(pageNumValue) - 1));
    location.assign("?" + searchParams.toString());
  };
</script>
{%- endmacro %}
