{% block content %}
<p>
  Showing {{ page.range }} of {{ page.total_items }} of Collections.
</p>
<table>
  <thead>
    <tr>
      <td>Identifier</td>
      <td>Alternate Identifiers</td>
      <td>Type</td>
      <td>Created</td>
      <td>Updated</td>
      <td>Title</td>
    </tr>
  </thead>
  <tbody>
    {% for item in page.items %}
    <tr>
      <td>{{ item.identifier }}</td>
      <td>{{ item.alternate_identifiers }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.created_at }}</td>
      <td>{{ item.updated_at }}</td>
      <td>{{ item.title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}