{% extends "base.html" %}

{% block content %}
<p class="subtle-heading">Event</p>
<h1 class="mb-2">{{ event.identifier }}</h1>
<div class="flex-layout">
  <span class="badge">
  {%- if event.object_file -%}
  File-level
  {%- else -%}
  Object-level
  {%- endif -%}
</span>
<span class="badge badge--success">Success</span>
</div>

<div class="object-flex-layout mb-2">
  <section>
    <h2>{{ event.type }}</h2>
    {% with class='object-list' %}
      {% include '/partials/_event_metadata.html' %}
    {% endwith %}  
  </section>
</div>

{% endblock %}