{% from 'macros/start_pagination.html' import start_pagination %}

{% macro toggleable(object_file) %}
{% if not (object_file.file_function == 'function:service' or object_file.file_function == 'function:source') %}data-toggleable="true"{% endif %}
{% endmacro %}

{% extends "base.html" %}

{% block content %}

<div class="back-link">
<span class="material-symbols-rounded">chevron_backward</span>
<a href="../">Back to objects</a>
</div>

<p class="subtle-heading">Object</p>

<h1 class="mb-2">{{ object.title }}</h1>

<div class="object-flex-layout mb-1">
<section>
  <h2 class="mt-0 pt-1_5">About this object</h2>
  <dl class="object-list">
    <dt>Identifier</dt>
    <dd>{{ object.identifier }}</dd>

    <dt>Alternate identifier</dt>
    <dd>{{ object.alternate_identifiers }}</dd>

    <dt>Description</dt>
    <dd>{{ object.description }}</dd>

    <dt>Date ingested:</dt>
    <dd>{{ object.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</dd>

    <dt>Total size: </dt>
    <dd>{{ object.total_data_size | filesizeformat }}</dd>

    <dt>Number of filesets:</dt>
    <dd>{{ object.filesets|length }}</dd>

    <dt>Type</dt>
    <dd>{{ object.type }}</dd>

    <dt>Revisions</dt>
    <dd>{{ object.revision_number}}</dd>
  </dl>
</section>

<section>
  <div class="object-event-history--container">
    <h2 class="mt-0 pt-1_5">Object event history</h2>
    <div class="button-group-column">
      {% for event in events %}
        <button 
          data-action="open-modal" 
          data-modal-href="{{ url_for('get_event', identifier=event.identifier) }}?modal=true" 
          type="button" 
          class="button-outline-variant"
          data-event-type="{{ event.type.lower() }}">
            <span class="label">{{ event.type | capitalize }}</span> 
            <span>{{ event.date_time.strftime("%Y-%m-%d %H:%M:%S") }}</span></button>
      {% endfor %}
    </div>
    {% include '/partials/_dialog.html' %}
  </div>
</section>
</div>

<details class="no-border object-descriptor">
    <summary><span>View object descriptor and metadata files</span></summary>
    <div class="details-contents-wrapper">
      <h3>Object descriptor and metadata</h3>
        <div class="table-responsive scroll-shadows--horizontal">
          <table class="m-table">
            <thead>
            <tr>
              <th>File name</td>
              <th>Size</td>
              <th>Last fixity check</th>
              <th>Action</td>
            </tr>
            </thead>
            <tbody>
            {% for object_file in object.object_files %}
             <tr>
              <td class="mono">
                <span class="file-name-flex">
                  <span class="badge" data-file-function="{{ object_file.file_function }}">
                    {{ object_file.file_function.replace('function:', '') }}
                  </span>
                  {{ object_file.name }}
                </span>
              </td>
              <td>{{ object_file.size | filesizeformat }}</td>
              <td>{{ object_file.last_fixity_check.strftime("%Y-%m-%d %H:%M:%S") }}</td>
              <td><button class="button--link">Download file</button></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</details>

<h2>Filesets</h2>
<p class="prose pb-1">
  A list of filesets in this object, labeled by source file name, and listed in order. 
  To view the metadata for and complete fileset, select the caret to the left of the filename. 
  Expanded details will appear, along with the ability to download individual files or entire filesets.
</p>
<div class="mb-1">
<p>Showing {{ filesets_page.range }} of {{ filesets_page.total_items }} filesets</p>
{% for fileset in filesets_page.items %}
<details class="fileset-details">
  <summary class="mono">{{ fileset.source_object_file.name }} <span class="order-label">{{ fileset.order_label }}</span></summary>
  <div class="details-contents-wrapper">
    <h3 class="mt-0 pt-1">About this fileset</h3>
    <ul class="two-column">
      <li>Total size: {{ fileset.total_data_size | filesizeformat }}</li>
      <li>Ingested: {{ fileset.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</li>
    </ul>
    <h3>Fileset contents</h3>
    <div class="table-responsive scroll-shadows--horizontal" data-view-all-files="false">
    <table class="m-table">
      <thead>
        <tr>
          <th>File name</td>
          <th>Size</td>
          <th>Last fixity check</th>
          <th>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for fileset_object_file in fileset.object_files %}
        <tr {{toggleable(fileset_object_file)}}>
          <td class="mono">
            <span class="file-name-flex">
              <span class="badge" data-file-function="{{ fileset_object_file.file_function }}">
                {{ fileset_object_file.file_function.replace('function:', '') }}
              </span>
              {{ fileset_object_file.name }}
            </span>
          </td>
          <td>{{ fileset_object_file.size | filesizeformat }}</td>
          <td>{{ fileset_object_file.last_fixity_check.strftime("%Y-%m-%d %H:%M:%S") }}</td>
          <td><button class="button--link">Download file</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="button button--ghost mb-2" data-action="toggle-view-all-files"><span data-toggled="false">View</span><span data-toggled="true">Hide</span> fileset descriptor and metadata files</button>
    </div>
    <button class="button button--secondary">Download fileset</button>
  </div>
</details>
{% endfor %}
</div>
{{ start_pagination(
  page=filesets_page,
  url=request.url,
  id_suffix="Filesets",
  start_key="fileset_start"
) }}

<section class="mb-4">
<h2>Actions</h2>
<button class="button button--primary">Download object</button>
<button class="button button--delete">Delete object</button>
</section>
{% endblock %}
